* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo {
    width:80px;
    height: 80px;
}

body {
    background-image:url(git ./resources/images/download.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    height: 8vh;
    box-shadow: 0 0 10px white;
}

.heading {
    display: flex;
    align-items: center;
    gap: 10px;
}

ul {
    display: flex;
    align-items: center;
    gap: 35px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    align-items: center;
    justify-content:center;
    height: 86vh;
    width: 500px;
    
}

.description {
    max-width: 400px;
    font-size: 20px;
    margin-top: 15px;

}

h1 {
    font-size: 40px;
    color: darkmagenta;
}

button {
    padding: 10px 50px;
    color:navy;
    border: none;
    background-color: blue;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: skyblue;
}

.sticky-footer{
    position: sticky;
    display: flex;
    align-items: center;
    justify-content:end;
    color: purple;
}